*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg-main);
  color: var(--color-text-main);
  overflow-x: hidden;
  max-width: 100vw;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}